.ads{
  text-align:center;
  margin-bottom: 30px;
}

.material-card h2 span.copy-link{
  display: inline-block;
  padding: .6em ;
  margin-left: 1em;
}


#recent-shortens{
  margin-top: 2em;

  #recent-title{
     text-align:center;
     margin: 2em auto;
     background: #87add5;
     color:white;
     padding: .5em;
     width: 75%;
   }
}
